[Unit]
Description=Triax EoC Exporter
Documentation=https://github.com/digineo

[Service]
EnvironmentFile=/etc/default/triax-eoc-exporter
ExecStart=/usr/bin/triax-eoc-exporter --web.config=/etc/triax-eoc-exporter/config.toml $ARGS
User=prometheus
ProtectSystem=strict
ProtectHome=yes
ReadOnlyPaths=/etc/triax-eoc-exporter

[Install]
WantedBy=multi-user.target
